
RewriteEngine on

RewriteRule ^home$ index.php?ref=home [L]
RewriteRule ^step-2A$ index.php?ref=step-2-a [L]
RewriteRule ^step-2B$ index.php?ref=step-2-b [L]
RewriteRule ^umpan-balik$ index.php?ref=umpan-balik [L]

#Module Fakultas Agama Islam
RewriteRule ^fakultas-agama-islam/pendidikan-agama-islam$ index.php?ref=pendidikan-agama-islam [L]
RewriteRule ^fakultas-agama-islam/pendidikan-bahasa-arab$ index.php?ref=pendidikan-bahasa-arab [L]
RewriteRule ^fakultas-agama-islam/ekonomi-syariah$ index.php?ref=ekonomi-syariah [L]

#Module Fakultas Teknologi Informasi
RewriteRule ^fakultas-teknologi-informasi/sistem-informasi$ index.php?ref=sistem-informasi [L]
RewriteRule ^fakultas-teknologi-informasi/teknik-informatika$ index.php?ref=teknik-informatika [L]

#Module Fakultas Pertanian
RewriteRule ^fakultas-pertanian/agribisnis$ index.php?ref=agribisnis [L]
RewriteRule ^fakultas-pertanian/agroekoteknologi$ index.php?ref=agroekoteknologi [L]
RewriteRule ^fakultas-pertanian/teknik-pertanian$ index.php?ref=teknik-pertanian [L]

#module Fakultas Ilmu Pendidikan
RewriteRule ^fakultas-ilmu-pendidikan/pendidikan-biologi$ index.php?ref=pendidikan-biologi [L]
RewriteRule ^fakultas-ilmu-pendidikan/pendidikan-fisika$ index.php?ref=pendidikan-fisika [L]
RewriteRule ^fakultas-ilmu-pendidikan/pendidikan-matematika$ index.php?ref=pendidikan-matematika [L]
RewriteRule ^fakultas-ilmu-pendidikan/pendidikan-bahasa-inggris$ index.php?ref=pendidikan-bahasa-inggris [L]

#Module Fakultas Ekonomi
RewriteRule ^fakultas-ekonomi/manajemen$ index.php?ref=manajemen [L]

#Module Responden
RewriteRule ^responden$ index.php?ref=responden [L]

RewriteRule ^responden/pendidikan-agama-islam$ index.php?ref=responden-pendidikan-agama-islam [L]
RewriteRule ^responden/pendidikan-bahasa-arab$ index.php?ref=responden-pendidikan-bahasa-arab [L]
RewriteRule ^responden/ekonomi-syariah$ index.php?ref=responden-ekonomi-syariah [L]
RewriteRule ^responden/sistem-informasi$ index.php?ref=responden-sistem-informasi [L]
RewriteRule ^responden/teknik-informatika$ index.php?ref=responden-teknik-informatika [L]
RewriteRule ^responden/agribisnis$ index.php?ref=responden-agribisnis [L]
RewriteRule ^responden/agreokoteknologi$ index.php?ref=responden-agreokoteknologi [L]
RewriteRule ^responden/teknik-pertanian$ index.php?ref=responden-teknik-pertanian [L]
RewriteRule ^responden/pendidikan-biologi$ index.php?ref=responden-pendidikan-biologi [L]
RewriteRule ^responden/pendidikan-fisika$ index.php?ref=responden-pendidikan-fisika [L]
RewriteRule ^responden/pendidikan-matematika$ index.php?ref=responden-pendidikan-matematika [L]
RewriteRule ^responden/pendidikan-bahasa-inggris$ index.php?ref=responden-pendidikan-bahasa-inggris [L]
RewriteRule ^responden/manajemen$ index.php?ref=responden-manajemen [L]


RewriteRule ^admin 	- [L]
RewriteRule ^css 	- [L]
RewriteRule ^js 	- [L]
RewriteRule ^fonts 	- [L]
RewriteRule ^library- [L]
RewriteRule ^images - [L]
RewriteRule ^module - [L]  

<IfModule mod_rewrite.c> 

RewriteEngine On

</IfModule>